// VARIABLES
// => Modify bootstrap colors
$primary:	#0074d9;
$secondary:	#6c757d;
$success:	#198754;
$info:		#0dcaf0;
$warning:	#ffc107;
$danger:	#ff4136;
$light:		#f8f9fa;
$dark:		#212529;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

//$colors: ()


// IMPORT MODULES
//  =>  Bootstrap
//       ( include all boostrap )
@import "../../node_modules/bootstrap/scss/bootstrap";

//  => Awesome icon pack
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";


// MAIN
.sidebar-size {
	width: 500px;
}

.bg-nav-link{
	background-color: #CFCFCF55;
}
